@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Data Publisher Web Api</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    @*<p><a href="http://asp.net" class="btn btn-info btn-lg">API Details &raquo;</a></p>*@
</div>


 <div class="row">

    <div class="col-sm-4 col-md-4">
        <div class="thumbnail tile tile-wide tile-blue">
            <a href="@Url.Action("Add","Clients")">
                <h3 class="tile-text">
                    Create a New <br />Client
                </h3>
            </a>
        </div>
    </div>

    <div class="col-sm-4 col-md-4">
        <div class="thumbnail tile tile-wide tile-green">
            <a href="@Url.Action("Index","Clients")">
                <h3 class="tile-text">
                    Manage Clients
                </h3>
            </a>
        </div>
    </div>

    <div class="col-sm-4 col-md-4">
        <div class="thumbnail tile tile-wide tile-orange">
            <a href="@Url.Action("Index","ManageUsers")">
                <h3 class="tile-text">
                    Settings
                </h3>
            </a>
        </div>
    </div>

 </div>

