<div class="panel panel-primary"  ng-controller="catalogClientListCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Client List
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="catalog in vm.catalogs">
                    <td><a ui-sref="catelogDetail({catalogId: catalog.ClientId})">{{ catalog.ClientName }}</a></td>
                    <td>{{ catalog.ClientStatus }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>