@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Library Scripts -->
    <script src="scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <!-- Application Script -->
    <script src="app/app.js"></script>
    <script src="~/Vtad/vtad.js"></script>
    <script src="~/App/common/common.services.js"></script>
    <script src="~/App/common/catalogResource.js"></script>
    <script src="~/Script/GetScripts" type="text/javascript"> </script>
    <!-- Services -->
    <!-- catalog Controllers -->
    <script src="~/App/views/layout/header.js"></script>
    <script src="App/views/catalogClients/catalogClientListCtrl.js"></script>
</head>
<body ng-app="app">
    <div ng-include="'/App/views/layout/header.cshtml'"></div>
    <br/><br /><br />
    <div class="container">
        <div ui-view></div>
    </div>
</body>
</html>
