@{
    ViewBag.Title = "Manage Clients";
}

<style media="all" type="text/css">
    .alignCenter {
        text-align: center;
    }
</style>


<body>
    <div class="container">

        <h1>Manage Clients</h1>

        <br />
        <br />

        <script language="javascript">
            $(document).ready(function () {
                $('#ClientDataTable').dataTable({
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": '@Url.Action("AjaxDataProvider", "Clients")',
                    "aoColumns": [
                        {
                            "sName": "Id",
                            "bSearchable": false,
                            "bSortable": false,
                            "bVisible": false

                        },
                        { "sName": "ClientName" },
                        { "sName": "ClientStatus", sClass: "alignCenter" },
                        {
                            sClass: "alignCenter",
                            "mRender": function (data, type, full) {
                                return '<a href=@Url.Action("Edit", "Clients")' + '/' + full[0] + '>Edit</a>&nbsp;&nbsp;&nbsp;<a href=@Url.Action("Index", "ClientObjects")' + '/' + full[0] + '>Endpoints</a>';
                            }
                        }
                    ]
                });
            });
        </script>
            <p>
                <a href="@Url.Action("Add","Clients")" class="btn btn-primary btn-lg">Create a New Client</a>
            </p>

            <br />

            <div style="max-width:750px;margin-top:15px">
                <table id="ClientDataTable" class="display">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Client Name</th>
                            <th width="100px">Client Status</th>
                            <th width="75">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    
</body>
