<!DOCTYPE html>
<html>
<head>
        <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/shCore.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/demo.css" rel="stylesheet" />
    <style type="text/css" class="init">
        div.dataTables_wrapper {
            margin-bottom: 3em;
        }
    </style>
    <link href="images/font-awesome.css" rel="stylesheet">
@Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/shCore.js"></script>
    <script src="~/Scripts/DataTables/demo.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <div id="container">
        @RenderBody()
    </div>
</body>
</html>
