
@{
    ViewBag.Title = "Manage Clients";
}

<h2>Manage Clients</h2>

<body>

    <script language="javascript">
        $(document).ready(function () {

            $('#myDataTable').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("AjaxDataProvider", "Clients")',
                "aoColumns": [
                                        {
                                            "sName": "Id",
                                            "bSearchable": false,
                                            "bSortable": false,
                                            "bVisible": false

                                        },
			                            { "sName": "ClientName" },
			                            { "sName": "ClientStatus" },
                                        {
                                            "mRender": function (data, type, full) {
                                                return '<a href=@Url.Action("Edit", "Clients")?guid=' + full[0] + '>Edit</a>';
                                            }
                                        }
                ]
            }); br
        });
    </script>


    <div>
        @Html.ActionLink("Add Client", "Add","Clients")
    </div>
    <div style="max-width:750px;margin-top:15px">
        <table id="myDataTable" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Client Name</th>
                    <th>Client Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>